{:ns "grimoire.things", :name "->group", :file "grimoire/things.clj", :type :fn, :src "(t/deftag group\n  \"Represents a Maven group.\"\n  [name]\n  {:pre [(string? name)]})", :column 1, :line 24, :arglists ([name]), :doc "Generated constructor for the group type."}