{:ns "grimoire.things", :name "path->thing", :file "grimoire/things.clj", :type :fn, :src "(defn path->thing\n  \"String to Thing transformer which builds a Thing tree by splitting on /. The\n  resulting things are rooted on a Group as required by the definition of a\n  Thing.\"\n  [path]\n  (->> (string/split path #\"/\")\n       (map vector [->Group ->Artifact ->Version ->Platform ->Ns ->Def])\n       (reduce (fn [acc [f v]]\n                 (if v (f acc v) acc))\n               nil)))", :column 1, :line 236, :arglists ([path]), :doc "String to Thing transformer which builds a Thing tree by splitting on /. The\n  resulting things are rooted on a Group as required by the definition of a\n  Thing."}