{:ns "grimoire.things", :name "namespace", :file "grimoire/things.clj", :type :var, :src "(v/deftag namespace\n  \"Represents a Clojure \\\"namespace\\\" rooted on a platform in a\n  version of an artifact.\"\n  [parent, name]\n  {:pre [(platform? parent)\n         (string? name)]})", :column 1, :line 55, :doc "Represents a Clojure \"namespace\" rooted on a platform in a\n  version of an artifact."}