{:ns "grimoire.things", :name "note", :file "grimoire/things.clj", :type :var, :src "(v/deftag note\n  \"Represents a single block of notes on an arbitrary Thing as\n  identified by a Handle. The Handle is intended to be some structure\n  such as a file path, record ID, UUID or something else uniquely\n  naming a specific note.\"\n  [parent, name, handle]\n  {:pre [(thing? parent)\n         (string? name)\n         (string? handle)]})", :column 1, :line 72, :doc "Represents a single block of notes on an arbitrary Thing as\n  identified by a Handle. The Handle is intended to be some structure\n  such as a file path, record ID, UUID or something else uniquely\n  naming a specific note."}