{:ns "grimoire.things", :name "thing->platform", :file "grimoire/things.clj", :type :fn, :src "(defn thing->platform\n  \"Function from a Thing to a Platform. If the Thing is rooted on a Platform or\n  is a Platform traverses thing->parent until the rooting Platform is reached\n  and then returns that value. Otherwise returns nil.\"\n  [t]\n  {:pre [(thing? t)]}\n  (when (platformed? t)\n    (if-not (platform? t)\n      (when t\n        (recur (thing->parent t)))\n      t)))", :column 1, :line 330, :arglists ([t]), :doc "Function from a Thing to a Platform. If the Thing is rooted on a Platform or\n  is a Platform traverses thing->parent until the rooting Platform is reached\n  and then returns that value. Otherwise returns nil."}