{:ns "grimoire.things", :name "thing?", :file "grimoire/things.clj", :type :fn, :src "(defn thing?\n  \"Predicate testing whether the input exists within the \\\"thing\\\" variant of\n  Σ[Group, Artifact,Version, Platform, Namespace, Def]\"\n  [t]\n  (grouped? t))", :column 1, :line 149, :arglists ([t]), :doc "Predicate testing whether the input exists within the \"thing\" variant of\n  Σ[Group, Artifact,Version, Platform, Namespace, Def]"}