{:ns "grimoire.api.fs.impl", :name "thing->related-handle", :file "grimoire/api/fs/impl.clj", :type :fn, :src "(defn thing->related-handle\n  \"Helper for getting a file handle for reading and writing related files\"\n\n  [c thing]\n  (let [h (thing->handle c :related thing)]\n    h))", :column 1, :line 58, :arglists ([c thing]), :doc "Helper for getting a file handle for reading and writing related files"}