{:ns "grimoire.things", :name "versioned?", :file "grimoire/things.clj", :type :fn, :src "(defn versioned?\n  \"Predicate testing whether the input exists within the subset of the \\\"thing\\\"\n  variant which can be said to be \\\"versioned\\\" in that it is rooted on a\n  Version instance and thus a version instance can be reached by upwards\n  traversal.\"\n  [t]\n  (or (platformed? t)\n      (version? t)\n      (and (leaf? t)\n           (versioned? (:parent t)))))", :column 1, :line 120, :arglists ([t]), :doc "Predicate testing whether the input exists within the subset of the \"thing\"\n  variant which can be said to be \"versioned\" in that it is rooted on a\n  Version instance and thus a version instance can be reached by upwards\n  traversal."}