{:type :fn, :src "(defmulti -list-groups\n  \"Implementation extension point of clj::grimoire.api/list-groups. Listing APIs\n  must extend this multimethod.\n\n  λ [config] → (Either (Succeed (Seq Group)) (Failure String))\"\n\n  dispatch)", :ns "grimoire.api", :name "-list-groups", :file "grimoire/api.clj", :column 1, :line 26, :doc "Implementation extension point of clj::grimoire.api/list-groups. Listing APIs\n  must extend this multimethod.\n\n  λ [config] → (Either (Succeed (Seq Group)) (Failure String))"}