{:ns "grimoire.things", :name "->version", :file "grimoire/things.clj", :type :fn, :src "(t/deftag version\n  \"Represents a Maven version, rooted on an artifact.\"\n  [parent, name]\n  {:pre [(artifact? parent)\n         (string? name)]})", :column 1, :line 35, :arglists ([parent name]), :doc "Generated constructor for the version type."}