{:ns "grimoire.things", :name "thing->url-path", :file "grimoire/things.clj", :type :fn, :src "(defn thing->url-path\n  \"Function from a Thing to a munged and URL safe Thing path\"\n  [t]\n  {:pre [(thing? t)]}\n  (match [t]\n    [([::def   {:name n :parent p}] :seq)]\n    ,,(str (thing->url-path p) \"/\" (u/munge n))\n\n    [([::group {:name n}] :seq)]\n    ,,n\n\n    [([_       {:name n :parent p}] :seq)]\n    ,,(str (thing->url-path p) \"/\" n)))", :column 1, :line 364, :arglists ([t]), :doc "Function from a Thing to a munged and URL safe Thing path"}