{:ns "grimoire.api", :name "write-example", :file "grimoire/api.clj", :type :fn, :src "(defn write-example\n  \"Writes an example into the datastore specified by the config at the path\n  represented by thing. Note that thing need not be a def.\"\n\n  [config example data]\n  {:pre [(t/example? example)]}\n  (-write-example config example data))", :column 1, :line 228, :arglists ([config example data]), :doc "Writes an example into the datastore specified by the config at the path\n  represented by thing. Note that thing need not be a def."}