{:ns "grimoire.things", :name "note?", :file "grimoire/things.clj", :type :fn, :src "(v/deftag note\n  \"Represents a single block of notes on an arbitrary Thing as\n  identified by a Handle. The Handle is intended to be some structure\n  such as a file path, record ID, UUID or something else uniquely\n  naming a specific note.\"\n  [parent, handle]\n  {:pre [(thing? parent)\n         (string? handle)]})", :column 1, :line 71, :arglists ([x__661__auto__]), :doc "Generated predicate for the note type."}