{:type :fn, :src "(defmulti -list-related\n  \"Implementation extension point of clj::grimoire.api/list-related. Listing APIs\n  must extend this multimethod.\n\n  λ [config Thing] → (Either (Succeed (Seq Thing)) (Failure String))\"\n\n  dispatch)", :ns "grimoire.api", :name "-list-related", :file "grimoire/api.clj", :column 1, :line 90, :doc "Implementation extension point of clj::grimoire.api/list-related. Listing APIs\n  must extend this multimethod.\n\n  λ [config Thing] → (Either (Succeed (Seq Thing)) (Failure String))"}