{:ns "grimoire.things", :name "->Version", :file "grimoire/things.clj", :type :fn, :src "(defn ->Version\n  ([artifact version]\n   {:pre [(and (map? artifact)\n               (= :artifact (:type artifact)))\n          (string? version)]}\n   (->T :version artifact version))\n\n  ([groupid artifactid version]\n   {:pre [(string? groupid)\n          (string? artifactid)\n          (string? version)]}\n   (->Version (->Artifact groupid artifactid) version)))", :column 1, :line 79, :arglists ([artifact version] [groupid artifactid version])}