{:ns "grimoire.things", :name "artifacted?", :file "grimoire/things.clj", :type :fn, :src "(defn artifacted?\n  \"Predicate testing whether the input either is an artifact or has an artifact\n  as a parent.\"\n  [t]\n  (or (versioned? t)\n      (artifact? t)\n      (and (leaf? t)\n           (artifacted? (:parent t)))))", :column 1, :line 131, :arglists ([t]), :doc "Predicate testing whether the input either is an artifact or has an artifact\n  as a parent."}