{:ns "grimoire.api.fs.impl", :name "thing->notes-handle", :file "grimoire/api/fs/impl.clj", :type :fn, :src "(defn thing->notes-handle\n  \"Helper for grabbing the handle of a notes file \"\n\n  [c thing]\n  (thing->handle c :notes thing))", :column 1, :line 38, :arglists ([c thing]), :doc "Helper for grabbing the handle of a notes file "}