{:ns "grimoire.api", :name "write-note", :file "grimoire/api.clj", :type :fn, :src "(defn write-note\n  \"Writes a string into the datastore specified by the config and the Thing to\n  which the resulting Note will be attached. Returns no meaningful value.\"\n\n  [config thing data]\n  {:pre [(t/thing? thing)]}\n  (-write-note config thing data))", :column 1, :line 220, :arglists ([config thing data]), :doc "Writes a string into the datastore specified by the config and the Thing to\n  which the resulting Note will be attached. Returns no meaningful value."}