{:ns "grimoire.api.fs.read", :name "-read-group-notes", :file "grimoire/api/fs/read.clj", :type :fn, :src "(defn -read-group-notes [config thing]\n  (let [thing (ensure-thing thing)\n        h     (thing->notes-handle config thing)]\n    (if (and (.exists h)\n           (.isFile h))\n      (succeed [[nil (slurp h)]])\n      (fail \"No such file\"))))", :column 1, :line 106, :arglists ([config thing])}