{:doc "This namespace implements the reading and listing parts of the Grimoire API\n  using the Grimoire webservice as its backend.\n\n  Writing to this datastore is not supported yet™.\n  `list-classes` is not supported yet™.\n  `list-defs` lists all defs, not just defs of a type.\n\n  To use this backend, you will need to load this namespace, and then invoke the\n  API with a configuration map as follows:\n  \n  {:datastore\n   {:mode :web,\n    :host \"http://conj.io\"}\n\n  Note that the host need not be conj.io, but must host a Grimoire 0.4 or later\n  instance providing the v0 API. The host string should include a http or https\n  protocol specifier as appropriate and should not end in a /."}