{:ns "grimoire.api.fs.read", :name "-read-general-notes", :file "grimoire/api/fs/read.clj", :type :fn, :src "(defn -read-general-notes [config thing]\n  (let [thing    (ensure-thing thing)\n        versions (api/thing->prior-versions config thing)]\n    (if (succeed? versions)\n      (-> (for [thing (result versions)\n               :let  [v (:name (thing->version thing))\n                      h (thing->notes-handle config thing)]\n               :when (.exists h)\n               :when (.isFile h)]\n           [v (slurp h)])\n         succeed)\n\n      ;; versions is a Fail, pass it down\n      versions)))", :column 1, :line 114, :arglists ([config thing])}