{:type :var, :src "(defmulti write-related\n  \"Writes a sequence of things representing defs into the datastore's\n  related file as specified by the target thing.\"\n  \n  {:arglists '[[config thing related-things]]}\n  dispatch)", :ns "grimoire.api", :name "write-related", :file "grimoire/api.clj", :column 1, :line 125, :arglists [[config thing related-things]], :doc "Writes a sequence of things representing defs into the datastore's\n  related file as specified by the target thing."}