{:ns "grimoire.api", :name "read-example", :file "grimoire/api.clj", :type :fn, :src "(defn read-example\n  \"Succeeds with a result Seq[Tuple[version, example-text]] for all examples on\n  prior or equal versions of the given thing sorted in decending version order.\n\n  Fails if the given Def does not exist, or if a nested Failure is encountered.\n\n  Note that future versions of this API may extend examples to Namespaces and\n  Versions.\"\n\n  [config example-thing]\n  {:pre [(t/example? example-thing)]}\n  (-read-example config example-thing))", :column 1, :line 149, :arglists ([config example-thing]), :doc "Succeeds with a result Seq[Tuple[version, example-text]] for all examples on\n  prior or equal versions of the given thing sorted in decending version order.\n\n  Fails if the given Def does not exist, or if a nested Failure is encountered.\n\n  Note that future versions of this API may extend examples to Namespaces and\n  Versions."}