{:ns "grimoire.things", :name "thing->def", :file "grimoire/things.clj", :type :fn, :src "(defn thing->def\n  \"Function from a Thing to a Def. If the Thing either is a Def or is rooted on\n  a Def, traverses thing->parent until the rooting Def is reached and then\n  returns that value. Otherwise returns nil.\"\n  [t]\n  {:pre [(thing? t)]}\n  (when (def? t) t))", :column 1, :line 354, :arglists ([t]), :doc "Function from a Thing to a Def. If the Thing either is a Def or is rooted on\n  a Def, traverses thing->parent until the rooting Def is reached and then\n  returns that value. Otherwise returns nil."}