{:ns "grimoire.things", :name "thing->url-path", :file "grimoire/things.clj", :type :fn, :src "(defn thing->url-path\n  \"Function from a Thing to a munged and URL safe Thing path\"\n  [t]\n  {:pre [(thing? t)]}\n  (if (def? t)\n    (str (thing->path (thing->parent t))\n         \"/\" (u/munge (thing->name t)))\n    (thing->path t)))", :column 1, :line 371, :arglists ([t]), :doc "Function from a Thing to a munged and URL safe Thing path"}