{:ns "grimoire.api", :name "list-examples", :file "grimoire/api.clj", :type :fn, :src "(defn list-examples\n  \"Succeeds with a result Seq[Example] encoding for all examples on prior or\n  equal versions of the given thing sorted in decending version order.\n\n  Will Fail if the given Def does not exist, or if a nested Failure is\n  encountered.\n\n  Note that future versions of this API may extend examples to Namespaces and\n  Versions.\"\n\n  [config def-thing]\n  {:pre [(t/def? def-thing)]}\n  (-list-examples config def-thing))", :column 1, :line 135, :arglists ([config def-thing]), :doc "Succeeds with a result Seq[Example] encoding for all examples on prior or\n  equal versions of the given thing sorted in decending version order.\n\n  Will Fail if the given Def does not exist, or if a nested Failure is\n  encountered.\n\n  Note that future versions of this API may extend examples to Namespaces and\n  Versions."}