{:ns "grimoire.api.fs.impl", :name "thing->example-handle", :file "grimoire/api/fs/impl.clj", :type :fn, :src "(defn thing->example-handle\n  \"Helper for getting a file handle for reading and writing a named example.\"\n\n  [c thing name]\n  {:pre  [(Config? c)\n          (t/thing? thing)\n          (string? name)]\n   :post [(file? %)]}\n  (let [h (thing->handle c :examples thing)]\n    (io/file h (str name \".clj\"))))", :column 1, :line 62, :arglists ([c thing name]), :doc "Helper for getting a file handle for reading and writing a named example."}