{:type :fn, :src "(defmulti -list-notes\n  \"Implementation extension point of clj::grimoire.api/list-notes. Listing APIs\n  must extend this multimethod.\n\n  λ [config Thing] → (Either (Succeed (Seq Note)) (Failure String))\"\n\n  dispatch)", :ns "grimoire.api", :name "-list-notes", :file "grimoire/api.clj", :column 1, :line 74, :doc "Implementation extension point of clj::grimoire.api/list-notes. Listing APIs\n  must extend this multimethod.\n\n  λ [config Thing] → (Either (Succeed (Seq Note)) (Failure String))"}