{:ns "grimoire.things", :name "full-uri->thing", :file "grimoire/things.clj", :type :fn, :src "(defn full-uri->thing\n  \"Complement of thing->full-uri.\"\n  [uri-string]\n  {:pre [(string? uri-string)]}\n  (let [[_ scheme type _ extension path\n         :as groups] (re-find full-uri-pattern uri-string)]\n    (assert groups \"Failed to parse URI. No regex match!\")\n    (println groups)\n    (let [t (url-path->thing path)]\n      (assert (= (thing->type-name t) type)\n              \"Failed to parse URI. Path didn't round trip to expected type!\")\n      t)))", :column 1, :line 421, :arglists ([uri-string]), :doc "Complement of thing->full-uri."}