{:ns "grimoire.things", :name "namespace?", :file "grimoire/things.clj", :type :fn, :src "(t/deftag namespace\n  \"Represents a Clojure \\\"namespace\\\" rooted on a platform in a\n  version of an artifact.\"\n  [parent, name]\n  {:pre [(platform? parent)\n         (string? name)]})", :column 1, :line 57, :arglists ([x__5516__auto__]), :doc "Generated predicate for the namespace type."}