{:ns "grimoire.things", :name "thing->version", :file "grimoire/things.clj", :type :fn, :src "(defn thing->version\n  \"Function from a Thing to a Verison. If the Thing is rooted on a Version or is\n  a Version, traverses thing->parent until the rooting Version is reached and\n  then returns that value. Otherwise returns nil.\"\n  [t]\n  {:pre [(thing? t)]}\n  (when (versioned? t)\n    (if-not (version? t)\n      (when t\n        (recur (thing->parent t)))\n      t)))", :column 1, :line 318, :arglists ([t]), :doc "Function from a Thing to a Verison. If the Thing is rooted on a Version or is\n  a Version, traverses thing->parent until the rooting Version is reached and\n  then returns that value. Otherwise returns nil."}