{:ns "grimoire.things", :name "thing->path", :file "grimoire/things.clj", :type :fn, :src "(defn thing->path\n  \"Provides a mechanism for converting one of the Handle objects into a\n  cannonical \\\"path\\\" which can be serialized, deserialized and walked back into\n  a Handle.\"\n  [t]\n  {:pre [(thing? t)]}\n  (or (::url t)\n      (thing->url-path t)))", :column 1, :line 221, :arglists ([t]), :doc "Provides a mechanism for converting one of the Handle objects into a\n  cannonical \"path\" which can be serialized, deserialized and walked back into\n  a Handle."}