{:type :var, :src "(defmulti read-notes\n  \"Succeeds with a result Seq[Tuple[Version, String]] being all notes on prior\n  or equal versions of the given thing sorted in decending version order. Will\n  Fail if the given Thing does not exist, or if a nested Failure is\n  encountered.\"\n\n  {:arglists '[[config thing]]}\n  dispatch)", :ns "grimoire.api", :name "read-notes", :file "grimoire/api.clj", :column 1, :line 78, :arglists [[config thing]], :doc "Succeeds with a result Seq[Tuple[Version, String]] being all notes on prior\n  or equal versions of the given thing sorted in decending version order. Will\n  Fail if the given Thing does not exist, or if a nested Failure is\n  encountered."}