{:ns "grimoire.api", :name "list-versions", :file "grimoire/api.clj", :type :fn, :src "(defn list-versions\n  \"Succeeds with a result Seq[Version] representing all Maven versions in the\n  queried datastore of the specified Artifact in decending version order. Could\n  succeed with an empty result if there are no known versions.\n\n  Fails if the specified Artifact does not exist or if another Failure is\n  encountered.\"\n\n  [config artifact-thing]\n  {:pre [(t/artifact? artifact-thing)]}\n  (-list-versions config artifact-thing))", :column 1, :line 67, :arglists ([config artifact-thing]), :doc "Succeeds with a result Seq[Version] representing all Maven versions in the\n  queried datastore of the specified Artifact in decending version order. Could\n  succeed with an empty result if there are no known versions.\n\n  Fails if the specified Artifact does not exist or if another Failure is\n  encountered."}