{:type :var, :src "(defmulti read-notes\n  \"Returns a sequence of pairs [version note-text] for all notes on\n  prior or equal versions of the given thing.\"\n\n  {:arglists '[[config thing]]}\n  dispatch)", :ns "grimoire.api", :name "read-notes", :file "grimoire/api.clj", :column 1, :line 57, :arglists [[config thing]], :doc "Returns a sequence of pairs [version note-text] for all notes on\n  prior or equal versions of the given thing."}