{:ns "grimoire.things", :name "ensure-thing", :file "grimoire/things.clj", :type :fn, :src "(defn ensure-thing\n  \"Transformer which, if given a string, will construct a Thing (with a warning)\n  and if given a Thing will return the Thing without modification. Intended as a\n  guard for potentially mixed input situations.\"\n  [maybe-thing]\n  (cond (string? maybe-thing)\n        ,,(do (.write *err* \"Warning: building a thing from a string via ensure-string!\\n\")\n              (path->thing maybe-thing))\n\n        (thing? maybe-thing)\n        ,,maybe-thing\n\n        :else\n        ,,(throw\n           (Exception.\n            (str \"Unsupported ensure-thing value \"\n                 (pr-str maybe-thing))))))", :column 1, :line 272, :arglists ([maybe-thing]), :doc "Transformer which, if given a string, will construct a Thing (with a warning)\n  and if given a Thing will return the Thing without modification. Intended as a\n  guard for potentially mixed input situations."}