{:type :var, :src "(defmulti read-examples\n  \"Returns a sequence of pairs [version example-text] for all examples on prior\n  or equal versions of the given thing.\"\n\n  {:arglists '[[config def-thing]]}\n  dispatch)", :ns "grimoire.api", :name "read-examples", :file "grimoire/api.clj", :column 1, :line 64, :arglists [[config def-thing]], :doc "Returns a sequence of pairs [version example-text] for all examples on prior\n  or equal versions of the given thing."}