{:ns "grimoire.api", :name "write-related", :file "grimoire/api.clj", :type :fn, :src "(defn write-related\n  \"Writes a sequence of things representing defs into the datastore's related\n  file as specified by the target thing.\"\n  \n  [config thing related-things]\n  {:pre [(every? t/def? related-things)\n         (t/def? thing)]}\n  (-write-related config thing related-things))", :column 1, :line 236, :arglists ([config thing related-things]), :doc "Writes a sequence of things representing defs into the datastore's related\n  file as specified by the target thing."}