{:type :var, :src "(defmulti read-meta\n  \"Succeeds returning a Map being the metadata for the specified Thing. No\n  backtracking is done to find metadata on prior Versions of the given\n  Thing. Fails if the given Thing does not exist.\n\n  Note that per the API contract, failure to find a metadata descriptor for a\n  Thing is equivalent to its absence even if other data bout the Thing could be\n  found.\"\n\n  {:arglists '[[config thing]]}\n  dispatch)", :ns "grimoire.api", :name "read-meta", :file "grimoire/api.clj", :column 1, :line 100, :arglists [[config thing]], :doc "Succeeds returning a Map being the metadata for the specified Thing. No\n  backtracking is done to find metadata on prior Versions of the given\n  Thing. Fails if the given Thing does not exist.\n\n  Note that per the API contract, failure to find a metadata descriptor for a\n  Thing is equivalent to its absence even if other data bout the Thing could be\n  found."}