{:ns "grimoire.api.fs.impl", :name "thing->meta-handle", :file "grimoire/api/fs/impl.clj", :type :fn, :src "(defn thing->meta-handle\n  \"Helper for getting a file handle for reading and writing meta\"\n\n  [c thing]\n  {:pre  [(Config? c)\n          (t/thing? thing)]\n   :post [(file? %)]}\n  (let [h (thing->handle c :meta thing)]\n    h))", :column 1, :line 73, :arglists ([c thing]), :doc "Helper for getting a file handle for reading and writing meta"}