{:doc "This namespace implements a \"thing\" structure, approximating a URI, for\n  uniquely naming and referencing entities in a Grimoire documentation\n  store.\n\n  Thing     ::= Sum[Group, Artifact, Version, Platform,\n                    Namespace, Def, Note, Example];\n  Group     ::= Record[                   Name: String];\n  Artifact  ::= Record[Parent: Group,     Name: String];\n  Version   ::= Record[Parent: Artifact,  Name: String];\n  Platform  ::= Record[Parent: Version,   Name: String];\n  Namespace ::= Record[Parent: Platform,  Name: String];\n  Def       ::= Record[Parent: Namespace, Name: String];\n\n  Note      ::= Record[Parent: Thing,     Handle: String];\n  Example   ::= Record[Parent: Thing,     Handle: String];"}