{:ns "grimoire.util", :name "munge", :file "grimoire/util.clj", :type :fn, :src "(defn munge\n  \"This is the munge function as used by the current version of Grimoire. Munges\n  the characters #\\\"[.?/]\\\" and nothing more. Should only be applied to\n  symbols. Namespaces, packages, groups and soforth need not be name munged.\"\n  [s]\n  (-> s\n     (str/replace \"?\" \"_QMARK_\")\n     (str/replace \".\" \"_DOT_\")\n     (str/replace \"/\" \"_SLASH_\")\n     (str/replace #\"^_*\" \"\")\n     (str/replace #\"_*$\" \"\")))", :column 1, :line 7, :arglists ([s]), :doc "This is the munge function as used by the current version of Grimoire. Munges\n  the characters #\"[.?/]\" and nothing more. Should only be applied to\n  symbols. Namespaces, packages, groups and soforth need not be name munged."}