{:ns "grimoire.things", :name "example", :file "grimoire/things.clj", :type :var, :src "(v/deftag example\n  \"Represents a single example on an arbitrary Thing as identified by\n  a Handle. The Handle is intended to be some structure such as a file\n  path, record ID, UUID or other unique identifier for that singular\n  specific example.\"\n  [parent, name, handle]\n  {:pre [(thing? parent)\n         (string? name)\n         (string? handle)]})", :column 1, :line 82, :doc "Represents a single example on an arbitrary Thing as identified by\n  a Handle. The Handle is intended to be some structure such as a file\n  path, record ID, UUID or other unique identifier for that singular\n  specific example."}