{:type :fn, :src "(defmulti -list-namespaces\n  \"Implementation extension point of clj::grimoire.api/list-namespaces. Listing APIs\n  must extend this multimethod.\n\n  λ [config Platform] → (Either (Succeed (Seq Ns)) (Failure String))\"\n\n  dispatch)", :ns "grimoire.api", :name "-list-namespaces", :file "grimoire/api.clj", :column 1, :line 58, :doc "Implementation extension point of clj::grimoire.api/list-namespaces. Listing APIs\n  must extend this multimethod.\n\n  λ [config Platform] → (Either (Succeed (Seq Ns)) (Failure String))"}