{:ns "grimoire.api", :name "read-note", :file "grimoire/api.clj", :type :fn, :src "(defn read-note\n  \"Succeeds with a result String being the text of notes read as identified by a\n  given notes handle.\n\n  Will Fail if the given Notes Thing does not exist, or if a nested Failure is\n  encountered.\"\n\n  [config note-thing]\n  {:pre [(t/note? note-thing)]}\n  (-read-note config note-thing))", :column 1, :line 124, :arglists ([config note-thing]), :doc "Succeeds with a result String being the text of notes read as identified by a\n  given notes handle.\n\n  Will Fail if the given Notes Thing does not exist, or if a nested Failure is\n  encountered."}