{:ns "grimoire.things", :name "->Def", :file "grimoire/things.clj", :type :fn, :src "(defn ->Def\n  ([namespace name]\n   {:pre [(and (map? namespace)\n               (= :namespace (:type namespace)))\n          (string? name)]}\n   (->T :def namespace name))\n\n  ([groupid artifactid version namespace name]\n   {:pre [(string? groupid)\n          (string? artifactid)\n          (string? version)\n          (string? namespace)\n          (string? name)]}\n   (->Def (->Ns groupid artifactid version namespace) name)))", :column 1, :line 106, :arglists ([namespace name] [groupid artifactid version namespace name])}