{:ns "grimoire.api.web.read", :name "do-thing-req", :file "grimoire/api/web/read.clj", :type :fn, :src "(defn do-thing-req [config op ctor parent]\n  (let [?res (do-data-req config parent op)]\n    (if (succeed? ?res)\n      (->> ?res result\n         (map (comp (partial ctor parent) :name))\n         succeed)\n      ?res)))", :column 1, :line 50, :arglists ([config op ctor parent])}