{:type :var, :src "(defmulti list-namespaces\n  \"Succeeds with a result Seq[Namespace] representing all Clojure namespaces in\n  the specified Version. Could succeed with an empty result. Fails if the\n  specified Version does not exist or if another Failure is encountered.\"\n\n  {:arglists '[[config version-thing]]}\n  dispatch)", :ns "grimoire.api", :name "list-namespaces", :file "grimoire/api.clj", :column 1, :line 45, :arglists [[config version-thing]], :doc "Succeeds with a result Seq[Namespace] representing all Clojure namespaces in\n  the specified Version. Could succeed with an empty result. Fails if the\n  specified Version does not exist or if another Failure is encountered."}