{:ns "grimoire.api.fs", :name "Config", :file "grimoire/api/fs.clj", :type :var, :src "(deftag Config\n  \"A configuration for the filesystem backend. Stores base paths for\n  docs, notes and the examples.\"\n  [docs\n   notes\n   examples]\n  {:pre [(string? docs)\n         (string? notes)\n         (string? examples)]})", :column 1, :line 4, :doc "A configuration for the filesystem backend. Stores base paths for\n  docs, notes and the examples."}