{:ns "grimoire.api.fs", :name "Config?", :file "grimoire/api/fs.clj", :type :fn, :src "(deftag Config\n  \"A configuration for the filesystem backend. Stores base paths for\n  docs, notes and the examples.\"\n  [docs\n   notes\n   examples]\n  {:pre [(string? docs)\n         (string? notes)\n         (string? examples)]})", :column 1, :line 4, :arglists ([x__6029__auto__]), :doc "Generated predicate for the Config type."}