{:ns "grimoire.api.web.read", :name "make-request", :file "grimoire/api/web/read.clj", :type :fn, :src "(defn make-request\n  \"λ [Cfg → Thing → Op] → String\n\n  Forges a Grimoire API V0 request for a given Thing and Op.\"\n  [config thing op]\n  {:pre [(web/Config? config)\n         (or (t/thing? thing)\n             (nil? thing))\n         (string? op)]}\n  (str (:host config)\n       baseurl\n       (when thing (t/thing->path thing))\n       \"?op=\" op \"&type=edn\"))", :column 1, :line 44, :arglists ([config thing op]), :doc "λ [Cfg → Thing → Op] → String\n\n  Forges a Grimoire API V0 request for a given Thing and Op."}