{:type :var, :src "(defmulti list-classes\n  \"Succeeds with a result Seq[Class] representing all Java classes in the\n  specified Version. Could succeed with an empty result. Fails if the specified\n  Version does not exist or of another failure is encountered.\"\n  \n  {:arglists '[[config version-thing]]}\n  dispatch)", :ns "grimoire.api", :name "list-classes", :file "grimoire/api.clj", :column 1, :line 53, :arglists [[config version-thing]], :doc "Succeeds with a result Seq[Class] representing all Java classes in the\n  specified Version. Could succeed with an empty result. Fails if the specified\n  Version does not exist or of another failure is encountered."}