{:ns "grimoire.api", :name "list-platforms", :file "grimoire/api.clj", :type :fn, :src "(defn list-platforms\n  \"Succeeds with a result Seq[Platform] representing all Clojure dialects of the\n  specified Artifact in the specified datastore. Could succeed with an empty\n  result if there is no documentation for any known dialect.\n\n  Fails if the specified Version does not exist or if another Failure is\n  encountered.\"\n\n  [config version-thing]\n  {:pre [(t/version? version-thing)]}\n  (-list-platforms config version-thing))", :column 1, :line 79, :arglists ([config version-thing]), :doc "Succeeds with a result Seq[Platform] representing all Clojure dialects of the\n  specified Artifact in the specified datastore. Could succeed with an empty\n  result if there is no documentation for any known dialect.\n\n  Fails if the specified Version does not exist or if another Failure is\n  encountered."}