{:type :var, :src "(defmulti list-versions\n  \"Succeeds with a result Seq[Version] representing all Maven versions in the\n  queried datastore of the specified Artifact. Could succeed with an empty\n  result if there are no known versions. Fails if the specified Artifact does\n  not exist or if another Failure is encountered.\"\n\n  {:arglists '[[config artifact-thing]]}\n  dispatch)", :ns "grimoire.api", :name "list-versions", :file "grimoire/api.clj", :column 1, :line 36, :arglists [[config artifact-thing]], :doc "Succeeds with a result Seq[Version] representing all Maven versions in the\n  queried datastore of the specified Artifact. Could succeed with an empty\n  result if there are no known versions. Fails if the specified Artifact does\n  not exist or if another Failure is encountered."}