{:ns "grimoire.util", :name "update-munge", :file "grimoire/util.clj", :type :fn, :src "(defn update-munge\n  \"This function attempts to transform the legacy munging of names\n  into the modern munging above. Note that update-munge is _not_ an\n  unmunge operation.\"\n  [s]\n  (-> s\n      (str/replace #\"_?DASH_?\"  \"-\")\n      (str/replace #\"_?BANG_?\"  \"!\")\n      (str/replace #\"_?STAR_?\"  \"*\")\n      (str/replace #\"_?EQ_?\"    \"=\")\n      (str/replace #\"_?LT_?\"    \"<\")\n      (str/replace #\"_?GT_?\"    \">\")\n      (str/replace #\"_?QMARK_?\" \"?\")\n      (str/replace #\"_?DOT_?\"   \".\")\n      (str/replace #\"_?SLASH_?\" \"/\")))", :column 1, :line 18, :arglists ([s]), :doc "This function attempts to transform the legacy munging of names\n  into the modern munging above. Note that update-munge is _not_ an\n  unmunge operation."}