{:ns "grimoire.api", :name "dispatch", :file "grimoire/api.clj", :type :fn, :src "(defn dispatch\n  \"Common dispatch function for all the API multimethods.\"\n\n  [config & more]\n  (v/tag config))", :column 1, :line 18, :arglists ([config & more]), :doc "Common dispatch function for all the API multimethods."}