{:type :fn, :src "(defmulti -list-platforms\n  \"Implementation extension point of clj::grimoire.api/list-platforms. Listing APIs\n  must extend this multimethod.\n\n  λ [config Version] → (Either (Succeed (Seq Platform)) (Failure String))\"\n\n  dispatch)", :ns "grimoire.api", :name "-list-platforms", :file "grimoire/api.clj", :column 1, :line 50, :doc "Implementation extension point of clj::grimoire.api/list-platforms. Listing APIs\n  must extend this multimethod.\n\n  λ [config Version] → (Either (Succeed (Seq Platform)) (Failure String))"}