{:ns "grimoire.util", :name "update-munge", :file "grimoire/util.clj", :type :fn, :src "(defn update-munge\n  \"This function attempts to transform the legacy (Grimoire 0.2.X, 0.1.X)\n  munging of strings into the modern munging above. Note that update-munge is\n  _not_ and unmunge operation.\"\n  [s]\n  (-> s\n     (str/replace #\"_?DASH_?\" \"-\")\n     (str/replace #\"_?BANG_?\" \"!\")\n     (str/replace #\"_?STAR_?\" \"*\")\n     (str/replace #\"_?EQ_?\" \"=\")\n     (str/replace #\"_?LT_?\" \"<\")\n     (str/replace #\"_?GT_?\" \">\")))", :column 1, :line 19, :arglists ([s]), :doc "This function attempts to transform the legacy (Grimoire 0.2.X, 0.1.X)\n  munging of strings into the modern munging above. Note that update-munge is\n  _not_ and unmunge operation."}