{:type :fn, :src "(defmulti -search\n  \"Implementation extension point of clj::grimoire.api/search. Listing APIs may\n  implement this multimethod, however a default implementation in terms of the\n  various listing operations and clj::clojure.core/for is provided.\n\n  λ [config Pattern] → (Either (Succeed (Seq Thing)) (Failure String))\"\n\n  dispatch)", :ns "grimoire.api", :name "-search", :file "grimoire/api.clj", :column 1, :line 131, :doc "Implementation extension point of clj::grimoire.api/search. Listing APIs may\n  implement this multimethod, however a default implementation in terms of the\n  various listing operations and clj::clojure.core/for is provided.\n\n  λ [config Pattern] → (Either (Succeed (Seq Thing)) (Failure String))"}