{:ns "grimoire.things", :name "thing->name", :file "grimoire/things.clj", :type :fn, :src "(defn thing->name\n  \"Function from an object to Maybe[String]. If the input is a thing, returns\n  the name of the Thing. Otherwise returns nil.\"\n  [t]\n  {:pre [(thing? t)]}\n  (:name t))", :column 1, :line 162, :arglists ([t]), :doc "Function from an object to Maybe[String]. If the input is a thing, returns\n  the name of the Thing. Otherwise returns nil."}