{:ns "grimoire.things", :name "->artifact", :file "grimoire/things.clj", :type :fn, :src "(v/deftag artifact\n  \"Represents a Maven artifact, rooted on a group.\"\n  [parent, name]\n  {:pre [(group? parent)\n         (string? name)]})", :column 1, :line 28, :arglists ([parent name]), :doc "Generated constructor for the artifact type."}