{:ns "grimoire.things", :name "thing->type-name", :file "grimoire/things.clj", :type :fn, :src "(defn thing->type-name\n  [t]\n  {:pre [(thing? t)]}\n  (match [t]\n    [([::group     {}] :seq)] \"group\"\n    [([::artifact  {}] :seq)] \"artifact\"\n    [([::version   {}] :seq)] \"version\"\n    [([::platform  {}] :seq)] \"platform\"\n    [([::namespace {}] :seq)] \"namespace\"\n    [([::def       {}] :seq)] \"def\"))", :column 1, :line 392, :arglists ([t])}