{:ns "grimoire.either", :name "message", :file "grimoire/either.clj", :type :fn, :src "(defn message\n  \"λ [Failure[t]] → t\n\n  Value extractor. For a failure value, unboxes the result of the\n  failure. Otherwise encounters an assertion failure (type error).\"\n  [x]\n  {:pre [(fail? x)]}\n  (:message x))", :column 1, :line 38, :arglists ([x]), :doc "λ [Failure[t]] → t\n\n  Value extractor. For a failure value, unboxes the result of the\n  failure. Otherwise encounters an assertion failure (type error)."}