{:ns "grimoire.things", :name "grouped?", :file "grimoire/things.clj", :type :fn, :src "(defn grouped?\n  \"Predicate testing whether the input either is a group or has a group as a\n  parent.\"\n  [t]\n  (or (artifacted? t)\n      (group? t)\n      (and (leaf? t)\n           (grouped? (:parent t)))))", :column 1, :line 140, :arglists ([t]), :doc "Predicate testing whether the input either is a group or has a group as a\n  parent."}