{:ns "grimoire.api", :name "list-namespaces", :file "grimoire/api.clj", :type :fn, :src "(defn list-namespaces\n  \"Succeeds with a result Seq[Namespace] representing all Clojure namespaces in\n  the specified Version. Could succeed with an empty result.\n\n  Fails if the specified Platform does not exist or if another Failure is\n  encountered.\"\n\n  [config platform-thing]\n  {:pre [(t/platform? platform-thing)]}\n  (-list-namespaces config platform-thing))", :column 1, :line 194, :arglists ([config platform-thing]), :doc "Succeeds with a result Seq[Namespace] representing all Clojure namespaces in\n  the specified Version. Could succeed with an empty result.\n\n  Fails if the specified Platform does not exist or if another Failure is\n  encountered."}