{:type :var, :src "(defmulti write-notes\n  \"Writes a string into the datastore specified by the config at the path\n  represented by thing. Note that thing need not be a def.\"\n\n  {:arglists '[[config thing data]]}\n  dispatch)", :ns "grimoire.api", :name "write-notes", :file "grimoire/api.clj", :column 1, :line 111, :arglists [[config thing data]], :doc "Writes a string into the datastore specified by the config at the path\n  represented by thing. Note that thing need not be a def."}