{:ns "grimoire.api.web.read", :name "grim-succeed?", :file "grimoire/api/web/read.clj", :type :fn, :src "(defn grim-succeed?\n  \"λ [t] → Bool\n\n  Helper, indicates whether a Grimoire web result succeeded or failed.\"\n  [result]\n  (= (:result result) :success))", :column 1, :line 24, :arglists ([result]), :doc "λ [t] → Bool\n\n  Helper, indicates whether a Grimoire web result succeeded or failed."}