{:type :fn, :src "(defmulti -list-artifacts\n  \"Implementation extension point of clj::grimoire.api/list-artifacts. Listing APIs\n  must extend this multimethod.\n\n  λ [config Group] → (Either (Succeed (Seq Artifact)) (Failure String))\"\n  \n  dispatch)", :ns "grimoire.api", :name "-list-artifacts", :file "grimoire/api.clj", :column 1, :line 34, :doc "Implementation extension point of clj::grimoire.api/list-artifacts. Listing APIs\n  must extend this multimethod.\n\n  λ [config Group] → (Either (Succeed (Seq Artifact)) (Failure String))"}