{:ns "grimoire.things", :name "url-path->thing", :file "grimoire/things.clj", :type :fn, :src "(defn url-path->thing\n  \"Function from a URL to a Thing. Complement of thing->url-path.\"\n  [url]\n  (let [path-elems (string/split url #\"/\")\n        path-elems (if (<= 6 (count path-elems))\n                     (concat\n                      (take 5 path-elems)\n                      [(url/url-decode (nth path-elems 5))]\n                      (drop 6 path-elems))\n                     path-elems)]\n    (path->thing (string/join \"/\" path-elems))))", :column 1, :line 382, :arglists ([url]), :doc "Function from a URL to a Thing. Complement of thing->url-path."}