{:ns "grimoire.things", :name "->Ns", :file "grimoire/things.clj", :type :fn, :src "(defn ->Ns\n  ([version namespace]\n   {:pre [(and (map? version)\n               (= :version (:type version)))\n          (string? namespace)]}\n   (->T :namespace version namespace))\n\n  ([groupid artifactid version namespace]\n   {:pre [(string? groupid)\n          (string? artifactid)\n          (string? version)\n          (string? namespace)]}\n   (->Ns (->Version groupid artifactid version) namespace)))", :column 1, :line 92, :arglists ([version namespace] [groupid artifactid version namespace])}