{:type :fn, :src "(defmulti -list-versions\n  \"Implementation extension point of clj::grimoire.api/list-versions. Listing APIs\n  must extend this multimethod.\n\n  λ [config Artifact] → (Either (Succeed (Seq Version)) (Failure String))\"\n\n  dispatch)", :ns "grimoire.api", :name "-list-versions", :file "grimoire/api.clj", :column 1, :line 42, :doc "Implementation extension point of clj::grimoire.api/list-versions. Listing APIs\n  must extend this multimethod.\n\n  λ [config Artifact] → (Either (Succeed (Seq Version)) (Failure String))"}