{:ns "grimoire.things", :name "thing->parent", :file "grimoire/things.clj", :type :fn, :src "(defn thing->parent\n  \"Function from any object to Maybe[Thing]. If the input is a thing, returns\n  the parent (maybe nil) of that Thing. Otherwise returns nil.\"\n  [t]\n  (when (thing? t)\n    (:parent t)))", :column 1, :line 155, :arglists ([t]), :doc "Function from any object to Maybe[Thing]. If the input is a thing, returns\n  the parent (maybe nil) of that Thing. Otherwise returns nil."}