{:doc "This namespace serves to implement an abstraction layer for looking up\n  examples, symbols, namespaces and artifacts as values without regard to the\n  implementation of the datastore. Ports of Grimoire to different datastores\n  should only need to extend the multimethods in this namespace.\n\n  API Contract assumptions:\n\n  - Everything has metadata, even if it's nil. If metadata for a Thing cannot\n    be found, then the Thing itself is not in the datastore."}