{:ns "grimoire.api", :name "list-defs", :file "grimoire/api.clj", :type :fn, :src "(defn list-defs\n  \"Succeeds with a result Seq[Def] representing all Clojure defs in the\n  specified Namespace. Could succeed with an empty result.\n\n  Fails if the specified Namespace does not exist or if another failure is\n  encountered.\"\n  \n  [config namespace-thing]\n  {:pre [(t/namespace? namespace-thing)]}\n  (-list-defs config namespace-thing))", :column 1, :line 102, :arglists ([config namespace-thing]), :doc "Succeeds with a result Seq[Def] representing all Clojure defs in the\n  specified Namespace. Could succeed with an empty result.\n\n  Fails if the specified Namespace does not exist or if another failure is\n  encountered."}