{:type :var, :src "(defmulti thing->prior-versions\n  \"Succeeds with a result Seq[Thing] representing the argument Thing at earlier\n  or equal versions sorted in decending order. Note that this op only supports\n  Versions, Namespaces and Defs. Artifacts and Groups do not have versions, and\n  will give Failures. Will Fail if a nested Failure is encountered.\"\n\n  {:arglists '[[config thing]]}\n  dispatch)", :ns "grimoire.api", :name "thing->prior-versions", :file "grimoire/api.clj", :column 1, :line 69, :arglists [[config thing]], :doc "Succeeds with a result Seq[Thing] representing the argument Thing at earlier\n  or equal versions sorted in decending order. Note that this op only supports\n  Versions, Namespaces and Defs. Artifacts and Groups do not have versions, and\n  will give Failures. Will Fail if a nested Failure is encountered."}