{:ns "grimoire.things", :name "namespaced?", :file "grimoire/things.clj", :type :fn, :src "(defn namespaced?\n  \"Predicate testing whether the input either is a namespace or has a namespace\n  as a parent.\"\n  [t]\n  (or (namespace? t)\n      (def? t)\n      (and (leaf? t)\n           (namespaced? (:parent t)))))", :column 1, :line 102, :arglists ([t]), :doc "Predicate testing whether the input either is a namespace or has a namespace\n  as a parent."}