{:type :fn, :src "(defmulti -thing->prior-versions\n  \"Implementation extension point of clj::grimoire.api/thing->prior-versions. Listing\n  APIs may implement this multimethod, however a default implementation in terms\n  of the various listing operations.\n\n  λ [config Thing] → (Either (Succeed (Seq Thing)) (Failure String))\"\n\n  dispatch)", :ns "grimoire.api", :name "-thing->prior-versions", :file "grimoire/api.clj", :column 1, :line 122, :doc "Implementation extension point of clj::grimoire.api/thing->prior-versions. Listing\n  APIs may implement this multimethod, however a default implementation in terms\n  of the various listing operations.\n\n  λ [config Thing] → (Either (Succeed (Seq Thing)) (Failure String))"}