{:ns "grimoire.api.fs", :name "update", :file "grimoire/api/fs.clj", :type :fn, :src "(defn update\n  \"λ [{A → B} A (λ [B args*] → C) args*] → {A → C}\n\n  Updates a key in the map by applying f to the value at that key more\n  arguments, returning the resulting map.\"\n\n  [map key f & args]\n  (assoc map key\n         (apply f (get map key) args)))", :column 1, :line 63, :arglists ([map key f & args]), :doc "λ [{A → B} A (λ [B args*] → C) args*] → {A → C}\n\n  Updates a key in the map by applying f to the value at that key more\n  arguments, returning the resulting map."}