{:type :var, :src "(defmulti list-groups\n  \"Returns a sequence of Thing[:group] representing all Maven groups\n  in the queried datastore.\"\n\n  {:arglists '[[config]]}\n  dispatch)", :ns "grimoire.api", :name "list-groups", :file "grimoire/api.clj", :column 1, :line 14, :arglists [[config]], :doc "Returns a sequence of Thing[:group] representing all Maven groups\n  in the queried datastore."}