{:type :fn, :src "(defmulti -read-example\n  \"Implementation extension point of clj::grimoire.api/read-example. Listing APIs\n  must extend this multimethod.\n\n  λ [config Artifact] → (Either (Succeed String) (Failure String))\"\n\n  dispatch)", :ns "grimoire.api", :name "-read-example", :file "grimoire/api.clj", :column 1, :line 114, :doc "Implementation extension point of clj::grimoire.api/read-example. Listing APIs\n  must extend this multimethod.\n\n  λ [config Artifact] → (Either (Succeed String) (Failure String))"}