{:ns "grimoire.things", :name "->Artifact", :file "grimoire/things.clj", :type :fn, :src "(defn ->Artifact\n  [groupid artifactid]\n  {:pre [(or (string? groupid)\n             (and (map? groupid)\n                  (= :group (:type groupid))))\n         (string? artifactid)]}\n  (cond (string? groupid)\n        ,,(recur (->Group groupid) artifactid)\n\n        (map? groupid)\n        ,,(->T :artifact groupid artifactid)\n\n        true\n        ,,(throw (Exception. \"Invalid argument types!\"))))", :column 1, :line 64, :arglists ([groupid artifactid])}