{:type :var, :src "(defmulti list-defs\n  \"Succeeds with a result Seq[Def] representing all Clojure defs in the\n  specified Namespace. Could succeed with an empty result. Fails if the\n  specified Namespace does not exist or if another failure is encountered.\"\n  \n  {:arglists '[[config namespace-thing]]}\n  dispatch)", :ns "grimoire.api", :name "list-defs", :file "grimoire/api.clj", :column 1, :line 61, :arglists [[config namespace-thing]], :doc "Succeeds with a result Seq[Def] representing all Clojure defs in the\n  specified Namespace. Could succeed with an empty result. Fails if the\n  specified Namespace does not exist or if another failure is encountered."}