{:ns "grimoire.util", :name "munge", :file "grimoire/util.clj", :type :fn, :src "(defn munge\n  \"This is the munge function as used by the current version of\n  Grimoire. Should only be applied to symbols. Namespaces, packages,\n  groups and soforth need not be name munged.\"\n  [s]\n  (-> s\n      (url-encode)\n      (str/replace #\"\\.\" \"%2E\") ;; most applications don't eat the . character happily\n      ))", :column 1, :line 8, :arglists ([s]), :doc "This is the munge function as used by the current version of\n  Grimoire. Should only be applied to symbols. Namespaces, packages,\n  groups and soforth need not be name munged."}