{:type :fn, :src "(defmulti -list-defs\n  \"Implementation extension point of clj::grimoire.api/list-defs. Listing APIs\n  must extend this multimethod.\n\n  λ [config Ns] → (Either (Succeed (Seq Def)) (Failure String))\"\n\n  dispatch)", :ns "grimoire.api", :name "-list-defs", :file "grimoire/api.clj", :column 1, :line 66, :doc "Implementation extension point of clj::grimoire.api/list-defs. Listing APIs\n  must extend this multimethod.\n\n  λ [config Ns] → (Either (Succeed (Seq Def)) (Failure String))"}