{:ns "grimoire.api", :name "list-groups", :file "grimoire/api.clj", :type :fn, :src "(defn list-groups\n  \"Succeeds with a result Seq[Group] representing all Maven groups in the\n  queried datastore. Will succeed with an empty result if there are no known\n  groups.\n\n  Fails if the datstore isn't correctly configured or missing.\"\n  [config]\n  (-list-groups config))", :column 1, :line 47, :arglists ([config]), :doc "Succeeds with a result Seq[Group] representing all Maven groups in the\n  queried datastore. Will succeed with an empty result if there are no known\n  groups.\n\n  Fails if the datstore isn't correctly configured or missing."}