{:ns "grimoire.things", :name "group", :file "grimoire/things.clj", :type :var, :src "(v/deftag group\n  \"Represents a Maven group.\"\n  [name]\n  {:pre [(string? name)]})", :column 1, :line 23, :doc "Represents a Maven group."}