{:type :var, :src "(defmulti write-example\n  \"Writes an example into the datastore specified by the config at the\n  path represented by thing. Note that thing need not be a def.\"\n\n  {:arglists '[[config thing data]]}\n  dispatch)", :ns "grimoire.api", :name "write-example", :file "grimoire/api.clj", :column 1, :line 118, :arglists [[config thing data]], :doc "Writes an example into the datastore specified by the config at the\n  path represented by thing. Note that thing need not be a def."}