{:type :var, :src "(defmulti read-related\n  \"Returns a sequence of things representing symbols related to this or prior\n  versions of the given symbol.\"\n\n  {:arglists '[[config thing]]}\n  dispatch)", :ns "grimoire.api", :name "read-related", :file "grimoire/api.clj", :column 1, :line 76, :arglists [[config thing]], :doc "Returns a sequence of things representing symbols related to this or prior\n  versions of the given symbol."}