{:ns "grimoire.either", :name "either?", :file "grimoire/either.clj", :type :fn, :src "(defn either?\n  \"λ [t] → Bool\n\n  Type predicate, matching either succeed or failure structures. Intended as a\n  postcondition for maybe functions.\"\n  [x]\n  (or (succeed? x)\n      (fail? x)))", :column 1, :line 47, :arglists ([x]), :doc "λ [t] → Bool\n\n  Type predicate, matching either succeed or failure structures. Intended as a\n  postcondition for maybe functions."}