{:ns "grimoire.things", :name "ensure-thing", :file "grimoire/things.clj", :type :fn, :src "(defn ensure-thing [maybe-thing]\n  (cond (string? maybe-thing)\n        ,,(path->thing maybe-thing)\n\n        (map? maybe-thing)\n        ,,maybe-thing\n\n        :else\n        ,,(throw (Exception.\n                  (str \"Unsupported ensure-thing value \"\n                       (pr-str maybe-thing))))))", :column 1, :line 149, :arglists ([maybe-thing])}