{:ns "grimoire.api", :name "list-notes", :file "grimoire/api.clj", :type :fn, :src "(defn list-notes\n  \"Succeeds with a result Seq[Note] representing all the Notes known on equal or\n  prior versions of the given Thing.\n\n  Fails if the specified Thing does not exist, or if a nested Failure is\n  encountered.\"\n\n  [config thing]\n  {:pre [(t/thing? thing)]}\n  (-list-notes config thing))", :column 1, :line 216, :arglists ([config thing]), :doc "Succeeds with a result Seq[Note] representing all the Notes known on equal or\n  prior versions of the given Thing.\n\n  Fails if the specified Thing does not exist, or if a nested Failure is\n  encountered."}