{:type :var, :src "(defmulti list-artifacts\n  \"Returns a sequence of Thing[:artifact] representing all Maven\n  artifacts in the queried datastore that belong to the specified\n  Thing[:group].\"\n  \n  {:arglists '[[config group-thing]]}\n  dispatch)", :ns "grimoire.api", :name "list-artifacts", :file "grimoire/api.clj", :column 1, :line 21, :arglists [[config group-thing]], :doc "Returns a sequence of Thing[:artifact] representing all Maven\n  artifacts in the queried datastore that belong to the specified\n  Thing[:group]."}