{:type :var, :src "(defmulti thing->prior-versions\n  \"Returns a sequence of things representing itself at earlier or equal\n  versions. Note that this op only supports Versions, Namespaces and\n  Defs. Artifacts and Groups do not have versions.\"\n\n  {:arglists '[[config thing]]}\n  dispatch)", :ns "grimoire.api", :name "thing->prior-versions", :file "grimoire/api.clj", :column 1, :line 49, :arglists [[config thing]], :doc "Returns a sequence of things representing itself at earlier or equal\n  versions. Note that this op only supports Versions, Namespaces and\n  Defs. Artifacts and Groups do not have versions."}