{:ns "grimoire.api.web", :name "make-api-url", :file "grimoire/api/web.clj", :type :fn, :src "(defn make-api-url\n  \"λ [Cfg, Thing, Op] → String\n\n  Forges a Grimoire API EDN request for a given Thing and Op.\"\n  [config thing op]\n  {:pre [(Config? config)\n         (or (t/thing? thing)\n             (nil? thing))\n         (string? op)]}\n  (str (:host config)\n       api-base-str\n       (when thing (t/thing->url-path thing))\n       \"?op=\" op \"&type=edn\"))", :column 1, :line 12, :arglists ([config thing op]), :doc "λ [Cfg, Thing, Op] → String\n\n  Forges a Grimoire API EDN request for a given Thing and Op."}