{:ns "grimoire.api.web", :name "make-html-url", :file "grimoire/api/web.clj", :type :fn, :src "(defn make-html-url\n  \"λ [Cfg, Thing] → String\n\n  Forges a Grimoire URL for a given Thing.  No validation is done to ensure that\n  the target Grimoire instance _has_ the Thing in question.\"\n  [config thing]\n  {:pre [(Config? config)\n         (or (t/thing? thing)\n             (nil? thing))]}\n  (str (:host config)\n       store-base-str\n       (when thing (t/thing->url-path thing))))", :column 1, :line 28, :arglists ([config thing]), :doc "λ [Cfg, Thing] → String\n\n  Forges a Grimoire URL for a given Thing.  No validation is done to ensure that\n  the target Grimoire instance _has_ the Thing in question."}