{:type :var, :src "(defmulti list-groups\n  \"Succeeds with a result Seq[Group] representing all Maven groups in the\n  queried datastore. Will succeed with an empty result if there are no known\n  groups. Fails if the datstore isn't correctly configured or missing.\"\n\n  {:arglists '[[config]]}\n  dispatch)", :ns "grimoire.api", :name "list-groups", :file "grimoire/api.clj", :column 1, :line 19, :arglists [[config]], :doc "Succeeds with a result Seq[Group] representing all Maven groups in the\n  queried datastore. Will succeed with an empty result if there are no known\n  groups. Fails if the datstore isn't correctly configured or missing."}