{:ns "grimoire.things", :name "platformed?", :file "grimoire/things.clj", :type :fn, :src "(defn platformed?\n  \"Predicate testing whether the input either is a platform or has a platform as\n  a parent.\"\n  [t]\n  (or (namespaced? t)\n      (platform? t)\n      (and (leaf? t)\n           (platformed? (:parent t)))))", :column 1, :line 112, :arglists ([t]), :doc "Predicate testing whether the input either is a platform or has a platform as\n  a parent."}