{:ns "grimoire.api", :name "list-artifacts", :file "grimoire/api.clj", :type :fn, :src "(defn list-artifacts\n  \"Succeeds with a result Seq[Artifact] representing all Maven artifacts in the\n  queried datastore that belong to the specified Group. Will Succeed with an\n  empty result if there are no known artifacts.\n\n  Fails if the group is unknown or if another Failure is encountered.\"\n  \n  [config group-thing]\n  {:pre [(t/group? group-thing)]}\n  (-list-artifacts config group-thing))", :column 1, :line 56, :arglists ([config group-thing]), :doc "Succeeds with a result Seq[Artifact] representing all Maven artifacts in the\n  queried datastore that belong to the specified Group. Will Succeed with an\n  empty result if there are no known artifacts.\n\n  Fails if the group is unknown or if another Failure is encountered."}