{:type :var, :src "(defmulti list-artifacts\n  \"Succeeds with a result Seq[Artifact] representing all Maven artifacts in the\n  queried datastore that belong to the specified Group. Will Succeed with an\n  empty result if there are no known artifacts. Fails if the group is unknown or\n  if another Failure is encountered.\"\n  \n  {:arglists '[[config group-thing]]}\n  dispatch)", :ns "grimoire.api", :name "list-artifacts", :file "grimoire/api.clj", :column 1, :line 27, :arglists [[config group-thing]], :doc "Succeeds with a result Seq[Artifact] representing all Maven artifacts in the\n  queried datastore that belong to the specified Group. Will Succeed with an\n  empty result if there are no known artifacts. Fails if the group is unknown or\n  if another Failure is encountered."}